* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p {
    font-size: 25px;
}

#para {
    color: blue;
}

i, b {
    color: red;
}

div p {
    color: blue;
    background-color: violet;
}

div > p {
    color: green;
    font-size: 20px;
}

div + p {
    color: blue;
    font-size: 30px;
}

div ~ p {
    color: violet;
    font-size: 20px;
}
